body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0px 15px 0px 15px;
    min-height: 100vh;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.avatar {
    width: 200px;
    border-radius: 50%;
    border: 3px solid black;
}

.text-info {
    max-width: 500px;
    text-align: justify;
}

.social-links {
    margin-top: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    height: 50px;
    flex-shrink: 0;
}

::selection {
    background-color: black;
    color: white;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    ::selection {
        background-color: white;
        color: black;
    }

    .avatar {
        border: 3px solid white;
    }
}
