.homeBlock {
    align-content: end;
    margin-bottom: 25px;
}

.console {
    width: 375px;
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: #161515;
    color: #794ae6;
    font-family: monospace;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.console-output {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

.console-output div {
    white-space: pre-wrap;
}

.console-input {
    display: flex;
    align-items: center;
    gap: 5px;
}

.console-input span {
    color: #794ae6;
}

.console-input input {
    flex: 1;
    background-color: #000;
    color: #794ae6;
    border: none;
    outline: none;
    font-family: monospace;
    padding: 5px;
    border-radius: 3px;
}

.link {
    display: flex;
    margin-top: 15px;
    gap: 15px;
    height: 50px;
}

.link a {
    display: flex;
    background-color: #794ae6;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.link .socialLink {
    width: 50px;
}

.link .socialLink svg {
    padding: 5px;
    fill: white;
}

.link .jobs {
    width: 180px;
    text-decoration: none;
    cursor: no-drop;
}